#passwordContainer {
    display: flex;
    flex-direction: column;
}

#pass-view {
    display: flex;
    padding: 0 0 20px 0;
}

.is-orange {
    background-color: orange;
}

.main-container {
    display: flex;
    justify-content: center;
    padding: 60px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 30%);
}

.children-container {
    width: 400px;

}

.child-left {
    border-right: solid 1px black;

}

.child-right {
    padding-left: 20px;
}