@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
}

#passwordContainer {
    display: flex;
    flex-direction: column;
}

#pass-view {
    display: flex;
    padding: 0 0 20px 0;
}

.is-orange {
    background-color: orange;
}

button, input {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;

}


.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 30%);
}

.our-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
}

.parent-container {
    display: flex;
    justify-content: center;
    padding: 0 60px 60px 60px;
}

.children-container {
    width: 400px;

}

.child-left {
    border-right: solid 1px black;

}

.child-right {
    padding-left: 20px;
}